@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400&display=swap');
/* colors
green: #00d563 */

*{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 16px;
    
}

h1{
    font-size:20px
}

